<!-- jQuery before other.js -->
<script charset="utf-8" type="text/javascript" src="/resources/common/plugs/jquery/jquery-1.12.4.min.js"></script>

<!-- ztree -->
<script charset="utf-8" src="/resources/common/plugs/ztree/jquery.ztree.core.js"></script>
<link rel="stylesheet" href="/resources/common/plugs/ztree/demo.css">
<link rel="stylesheet" href="/resources/common/plugs/ztree/zTreeStyle.css">
<script charset="utf-8" src="/resources/common/plugs/ztree/jquery.ztree.excheck.js"></script>
<script charset="utf-8" src="/resources/common/plugs/ztree/jquery.ztree.exedit.js"></script>

<script charset="utf-8" type="text/javascript" src="/resources/common/plugs/jquery/jquery.validate.js"></script>
<script charset="utf-8" type="text/javascript" src="/resources/common/plugs/jquery/messages_zh.js"></script>

<script charset="utf-8" type="text/javascript" src="/resources/common/plugs/My97DatePicker/WdatePicker.js"></script>
<!-- Bootstrap   -->
<link rel="stylesheet" type="text/css" href="/resources/common/plugs/bootstrap-3.3.5-dist/css/bootstrap.min.css">
<script charset="utf-8"  type="text/javascript" src="/resources/common/plugs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

<!-- custom css js  -->
<link rel="stylesheet" type="text/css" href="/resources/custom/css/common.css">