           <div class="row">
                 <div class="col-lg-12">
                   <ul class="small-info pagination-info">
                      <li><span>每页显示记录数:</span></li>
                      <li>
                        <select id="pageRecorders" name="pageRecorders" class="form-control" > 
			            <option selected="selected" value="15">15</option>
			            <option value="30">30</option>
			            <option value="50">50</option>
			            <option value="100">100</option>
			            <option value="200">200</option>
			      </select>
                      </li>
                      <li><span id="totalRows">0</span></li>
                      <li><nav><ul  id="pagination" class="pagination"></ul></nav></li>
                      <li><span><input id="gocount" class="form-control" type="text" placeholder="输入"></span></li>
                      <li><button id="gobutton" type="button" class="btn btn-primary  btn-block">GO</button></li>
				      <div class="clear"></div>
                   </ul> 
                 </div>
             </div>
             
             
             
             
             
             
             
             
             
             
             